<div class="basic-container">
  <div class="cards">
    <mat-card class="tile" *ngFor="let i of tenders">
      <div>
        <div>
          <div *ngFor="let k of i.blood">
            <h2>Tender</h2>
            <small *ngIf="i.deadline !== null">Lasts until: {{i.deadline}}</small>
            <br *ngIf="i.deadline !== null">
            <div>
              <br>
              <p *ngIf="k.bloodType?.bloodGroup === 0"><b>Blood type</b>: O </p>
              <p *ngIf="k.bloodType?.bloodGroup === 1"><b>Blood type</b>: A </p>
              <p *ngIf="k.bloodType?.bloodGroup === 2"><b>Blood type</b>: B </p>
              <p *ngIf="k.bloodType?.bloodGroup === 3"><b>Blood type</b>: AB </p>
              <p *ngIf="k.bloodType?.rhFactor=== 0"><b>RH factor</b>: +</p>
              <p *ngIf="k.bloodType?.rhFactor === 1"><b>RH factor</b>: -</p>
              <br>
              <p><b>Blood amount</b>: {{k.amount}}</p>
            </div>
          </div>
          <div fxLayout="row" [style.flex]="'1'" style="text-align: left;">
            <button (click)="apply(i)">Apply</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

</div>
