.container {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border-radius: 3px;
    border: #DCD6CC 1px solid;
    background-color: white;
    text-align: left;
}

table {
    width: 100%;
}

.table-title {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;

}

.cell-center {
    text-align: center;
}

.clickable:hover {
    font-weight: bold;
    cursor: pointer;
}

.add-button {
    margin: 10px 20px 10px 10px;
    color: black;
    background-color: #edece5;
    float: right;
}

.table-header {
    display: flex;
}

p {
    float: center;
    margin-right: auto;
}
h1{
    float: center;
    margin-right: auto;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }