<div class="container">
    <h1 style="text-align: center; font-size: 35px;">
        Tender winner
    </h1>
    
    <p style="font-size: 20px;">
        Congratulations you won the tender!<br/>
        Please read terms and conditions or <span (click)="goDown()">click on this text to scroll down.</span>
    </p>
    <p>
TENDER TERMS AND CONDITIONS <br/>
1 INTERPRETATION<br/>
1.1 In these Tender Conditions (unless the context otherwise requires):<br/>
(a) Company is the BHP Billiton entity or Business referred to in the Invitation to
Tender;<br/>
(b) Company Representative means the person nominated as such in the Invitation to
Tender, or such other person that the Company may subsequently nominate in
writing to the Tenderer;<br/>
(c) Company-Supplied Information means information (whether written, oral,
electronic or in any other form) provided or made available by or on behalf of the
Company to any Tenderer in relation to the Tender Documents or any of the
matters contemplated by those documents;<br/>
(d) Contract means the contract to be entered into between the Company and the
successful Tenderer as a consequence of this Tender process;<br/>
(e) Contract Obligations means the obligations that the successful Tenderer (if any) is
required to carry out under and in respect of the Contract;<br/>
(f) Invitation to Tender means the document designated as such which has been
issued to the Tenderer manually or electronically in conjunction with the other
Tender Documents;<br/>
(g) Site means the premises of the Company where the Tendered goods are to be
delivered together with the premises where the Tendered work is to be performed
and any other premises identified in the Tender Documentation as forming part of
the Site;<br/>
(h) Tender means the Tender that the Tenderer submits to the Company in response
to the Invitation to Tender and which is comprised of the documents specified in the
Invitation to Tender;<br/>
(i) Tenderer is the Company which has been invited to submit a Tender;<br/>
(j) Tender Documents means these Tender Conditions, the Invitation to Tender and
each of the documents named as Tender Documents in the Invitation to Tender;<br/>
(k) Tender Submission Date means the date referred to as such in the Invitation to
Tender.<br/>
1.2 In these Tender Conditions (unless the context otherwise requires):<br/>
(a) a reference to these Tender Conditions means these Tender Conditions as
amended or supplemented in accordance with clause 9.1;<br/>
(b) a reference to 'including', 'includes' or 'include' must be read as if it is followed by
'(without limitation)';<br/>
(c) where a word or an expression is defined, any other part of speech or grammatical
form of that word or expression has a corresponding meaning;<br/>
(d) words in the singular include the plural and vice-versa; and<br/>
(e) headings are for convenience only and do not affect interpretation of these Tender
Conditions.<br/><br/>
2 CONTENTS AND REQUIREMENTS FOR SUBMISSION OF A TENDER<br/>
2.1 The Tenderer must:<br/>
2<br/>
TENDER TERMS AND CONDITIONS<br/>
(a) prepare and submit the Tender strictly in accordance with the requirements set out
in the Invitation to Tender and the Tender Documents;<br/>
(b) complete and include as part of its Tender all the schedules, annexure, appendices,
and other information required by the Tender Documents;<br/>
(c) inform the Company in writing manually or electronically by the date specified in the
Invitation to Tender whether it intends to submit a Tender; and<br/>
(d) submit the Tender by the date and time specified in the Invitation to Tender.<br/>
2.2 The Tenderer must provide a list of subcontractors proposed to be engaged in respect of
the Contract for approval by the Company. However, the Company reserves the right to
refuse approval of any proposed subcontractor in accordance with the relevant provisions of
the Contract.<br/>
2.3 By submitting a Tender to the Company, the Tenderer agrees to the terms of the Tender
Documents (including these Tender Conditions).<br/>
3 CONFIDENTIAL INFORMATION AND PUBLICITY<br/>
3.1 The fact that the Company is seeking proposals for the supply of the goods and/or services,
together with the Company-Supplied Information and all information (whether oral, written
or in electronic form) contained in the Tender Documents or disclosed to the Tenderer in
connection with the Tender process including drawings, specifications and technical and
other information supplied to Tenderers is confidential. Except with the prior written
approval of the Company Representative, the Tenderer shall not disclose such information
to any third party, or permit it to be used, copied, reproduced or distributed in whole or part
for any purpose other than for the preparation of the Tender. The obligations created by
this clause 3.1 do not apply in relation to any particular item of information that is or
becomes public knowledge other than by a breach of these Tender Conditions.<br/>
3.2 The Tenderer must not advertise or issue any information, publication, document or article
(including photographs or film) for publication or media release or other publicity in relation
to the Tender. Where the Tenderer receives an enquiry relating to the Tender from the
media, the Tenderer must refer the person making the enquiry to the Company’s
Representative and must immediately notify the Company’s Representative of the fact that
an enquiry was made. The Tenderer must not make any other comment in response to
such an enquiry.<br/>
3.3 The Company may require the Tenderer to execute a confidentiality agreement at any time
during the Tender process. The Company may exclude from consideration any Tenderer
that fails to sign such an agreement.<br/>
3.4 Without limiting the Tenderer’s obligations under clause 3.1 above, the Tenderer shall
ensure that all employees, agents, contractors and subcontractors of the Tenderer and any
other person to whom it discloses any of the information contemplated by clause 3.1 will in
each case comply with the provisions of this clause 3 to the same extent as if such person
had been named in this clause in the place of the Tenderer.<br/>
3.5 By submitting a Tender, the Tenderer agrees that the Company may, for the purpose of
carrying out the Tender evaluation, copy, use and disclose any documentation or
information (whether in written, oral or electronic form) provided by the Tenderer.
3<br/><br/>
TENDER TERMS AND CONDITIONS<br/>
4 INTELLECTUAL PROPERTY<br/>
4.1 All rights of intellectual property, including copyright in the Tender Documents, drawings,
data and technical and other pictorial and written information supplied to the Tenderer by
the Company or any person or body for or on behalf of the Company, shall be and at all
times remain the property of the Company.<br/>
4.2 The Company may, in its sole discretion and at any stage before or after completion of the
Tender process, require that all written information (whether confidential or otherwise and
without regard to the type of media on which such information was provided to any
Tenderer including all copies of such information) be:<br/>
(a) returned to the Company, in which case the Tenderer must promptly return all such
information to the address identified by the Company; or<br/>
(b) destroyed by the Tenderer, in which case the Tenderer must promptly destroy all
such information.<br/>
4.3 Without affecting any intellectual property rights which may exist in a Tender, all Tenders
submitted in relation to the Invitation to Tender shall be the property of the Company.<br/>
5 PRIVACY<br/>
5.1 The Tenderer agrees to be bound by applicable privacy and data protection Laws with
respect to any act done or practice engaged in by the Tenderer for the purposes of this
Tender in the same way and to the same extent as the Company would have been bound in
respect of that act or practice had it been directly done or engaged in by the Company.
6 ANTI-COMPETITIVE BEHAVIOUR<br/>
6.1 In consideration of the Company accepting the submission of the Tender, the Tenderer
represents and warrants to the Company that:<br/>
(a) it has no knowledge of the Tender price or terms of any other Tenderer;<br/>
(b) except where it has notified the Company in writing prior to the submission of its
Tender, the Tenderer has not entered into any contract, arrangement or
understanding with any other Tenderer or any recipient of an Invitation to Tender:<br/>
(i) as to who should be the successful Tenderer; or<br/>
(ii) relating to the pricing or terms offered in the Tenders;<br/>
(c) it has not participated in any meetings with any other Tenderers or been involved in
an exchange of information with any other Tenderers which, in either case, related
to the Tender process or the Tenders themselves; and<br/>
(d) it has not submitted a Tender to the Company which has deliberately inflated
pricing in order not to be the successful tenderer.<br/>
6.2 The Tenderer acknowledges and agrees that the Company is relying on the representations
and warranties in clause 6.1 when considering the Tenders and entering into the Contract.
If the Tenderer breached any of the representations and warranties in clause 6.1 then:<br/>
(a) the Company may refuse to consider the Tenderer’s Tender;<br/>
(b) the Company may take any other action that it is entitled to take at law; and<br/>
(c) in the event that the Company becomes aware of the breach of warranty after the<br/>
Contract is entered into, withhold from any payments due under the Contract an
amount equal to the Company’s estimation of the losses suffered by it from the
breach of clause 6.1.<br/><br/>
4<br/>
TENDER TERMS AND CONDITIONS<br/>
7 CONFLICT OF INTEREST<br/>
7.1 The Tenderer must disclose to the Company any circumstances, arrangements or
relationships which constitute, or might reasonably be considered to constitute, an actual or
potential conflict of interest with the Tenderer’s obligations under the Tender Documents or
under any Contract that might be entered into. The Tenderer shall make this disclosure to
the Company as soon as becoming aware of it and, in any event, prior to submitting any
Tender.<br/>
8 TENDERER TO INFORM ITSELF FULLY<br/>
8.1 The Tenderer must acquaint itself fully with scope of the Tender, all conditions,
contingencies and risks contained in the Tender Documents that might affect its Tender or
its performance of the Contract.<br/>
8.2 By submitting its Tender, the Tenderer represents and warrants to the Company that it has:
(a) prepared the Tender and would enter into the Contract with the Company based on
its own investigations, interpretations, deductions, information and determinations
and has not relied and will not rely upon, any Company-Supplied Information for
any purpose (including, but without limitation, determining whether or not to lodge a
Tender, preparing its Tender, entering into the Contract or performing its obligations
under the Contract);<br/>
(b) examined all information relevant to the risks, contingencies and other
circumstances having an effect on the Tender and which is obtainable by the
making of reasonable enquiries including (without limitation), the material contained
in the Tender Documents, any relevant technical advice made available by the
Company and any applicable statutory requirements;<br/>
(c) not relied on information provided, or represented to be provided, by or on behalf of
the Company (other than information contained in the Tender Documents) without
independently verifying that information and independently satisfying itself of the
adequacy, accuracy and correctness of the information;<br/>
(d) calculated its Tender price, including all taxes, duties, charges, licences and other
costs, in addition to taking into account all other obligations under the Contract (and
the other specific matters referred to in the Tender Documents), on the basis of the
Tenderer assuming the risk position allocated under the proposed Contract;<br/>
(e) satisfied itself as to the accuracy, correctness and sufficiency of the Tender for the
Contract Obligations and that the Tender price covers the cost of complying with all
of the Contractor's obligations under the Contract;<br/>
(f) where appropriate, examined the Site together with its surroundings, conditions and
characteristics and made an appropriate allowance in the Tender for any effect
thereon; and<br/>
(g) assessed and understood all applicable statutory requirements relevant to the
Contract Obligations and that it is able to fully perform the Contract without
breaching those statutory requirements.<br/>
8.3 The Tenderer acknowledges and agrees that it has been provided with information
(including information contained in the Tender Documents) by the Company only for the
Tenderer’s convenience and accordingly:<br/>
(a) the Company does not assume any responsibility or duty of care in respect of, give
any warranty or make any representations in respect of any such information
(including as to its accuracy or adequacy); and<br/>
(b) the Tenderer agrees that it shall have no claim against the Company or any
employee, agent or contractor of the Company (whether in contract, tort (including)<br/><br/>
5<br/>
TENDER TERMS AND CONDITIONS<br/>
negligence), equity, under statute or otherwise) in connection with any such
information.<br/>
8.4 Site inspection and Tender Meeting<br/>
(a) If specified in the Invitation to Tender, each recipient of the Tender Documents who
intends to submit a Tender must attend a combined Site inspection and Tender
meeting.<br/>
(b) The purpose of such a Site inspection and Tender meeting is for Tenderers to
familiarise themselves with the accessibility of the Site, the Site conditions, the
extent of the Contract Obligations and to have the opportunity to seek clarification
on any matter concerning the Tender, the Tender Documents or the Contract.<br/>
(c) Any failure by the Tenderer to attend a Site inspection and Tender meeting will not
limit or affect any liability the Tenderer might subsequently have to perform the
Contract Obligations in full.<br/>
8.5 Discussions with any employees or others<br/>
The Tenderer must not communicate with any employee, agent, consultant or supplier of
the Company in relation to the Tender or the proposed Contract Obligations without the
prior written approval of the Company Representative. If such approval is given by the
Company Representative then:<br/>
(a) the Tenderer may only engage in any oral discussions with the relevant employee,
agent, consultant or supplier in the presence of the Company Representative; and<br/>
(b) any written communication (whether by letter, email or otherwise) from the
Tenderer must first be sent to the Company Representative before being sent to the
relevant employee, agent, consultant or supplier.<br/>
9 AMENDMENT OF TENDER DOCUMENTS<br/>
9.1 The Company may, at any time or times prior to the Tender Submission Date, issue to the
Tenderer any amendment, annexure or addendum to the Tender Documents. No
amendment, annexure or addendum will form part of the Tender Documents unless it is in
writing and expressly states that it shall form part of the Tender Documents.
10 REQUEST FOR FURTHER INFORMATION<br/>
10.1 The Tenderer may request further information from the Company in relation to the Tender
process or the goods or services that are the subject of the Tender. Any such request shall
be addressed to the Company Representative listed in the Invitation to Tender and must be
received by the Company at least seven days before the Tender Submission Date.<br/>
10.2 At any time after the submission of Tenders, the Company or the Company Representative
shall be entitled to request such further information as the Company or the Company’s
Representative may require from the Tenderer or to obtain clarification of any details
included in a Tender. The Tenderer shall promptly comply with such requests.<br/><br/>
6<br/>
TENDER TERMS AND CONDITIONS<br/>
11 SUBMISSION OF TENDERS<br/>
11.1 The Tenderer may seek an extension of the Tender Submission Date only by submitting a
written request for extension to the Company Representative. Any such request should set
out the reasons for the extension and must be received by the Company Representative at
least two business days before the Tender Submission Date. The Company may, in its
absolute discretion, grant or refuse any request for the extension of the Tender Submission
Date.<br/>
11.2 It is the Tenderer’s sole responsibility to ensure that the Company receives the Tender on
or before the Tender Submission Date. The Company may, in its absolute discretion,
consider or refuse to consider any late Tender response and negotiate or execute a
contract with a Tenderer that has submitted a late Tender response.<br/>
11.3 Should the Tenderer discover any discrepancy, error or omission in its Tender response,
the Tenderer shall immediately notify the Company Representative in writing, of the nature
of the discrepancy, error or omission.<br/>
12 TENDERS SUBMITTED BY JOINT VENTURES OR CONSORTIA<br/>
12.1 Where a Tenderer is comprised of more than one entity:<br/>
(a) any Tender submitted must include all details relevant to each entity and the
structure of the joint venture or consortium submitting the Tender, and the Tender
must be executed by each such entity;<br/>
(b) the liability of all such entities shall be joint and several in accordance with the
provisions of the Contract; and<br/>
(c) the Company may require a copy of any joint venture agreement or other
contractual arrangement relating to the Tenderer's composition to be provided to
the Company before considering any such Tender.<br/>
13 WITHDRAWAL OF TENDER RESPONSES<br/>
13.1 The Tenderer may, without prejudice, withdraw its Tender at any time before the Tender
Submission Date.<br/>
14 TENDER VALIDITY<br/>
14.1 Tenders shall remain valid for acceptance by the Company for the period specified in the
Invitation to Tender. In the event that the Invitation to Tender does not specify a period
then the Tenders shall remain valid for acceptance by the Company for a period of ninety
(90) days commencing on the Tender Submission Date.<br/>
14.2 By submitting its Tender and in consideration of the Company agreeing to evaluate that
Tender, the Tenderer agrees not to amend or withdraw its Tender before the expiry of the
period contemplated by clause 14.1 except (i) in accordance with clause 13.1, or (ii) with
the prior written consent of the Company.<br/><br/>
7<br/>
TENDER TERMS AND CONDITIONS<br/>
15 ACCEPTANCE OF TENDER RESPONSES<br/>
15.1 A Tender will not be deemed to have been accepted and no contract will arise between the
Company and the Tenderer in respect of the Tendered goods and/or services until a formal
written Contract is executed by the successful Tenderer and the Company.<br/>
15.2 Should a Tender be successful, the Tenderer acknowledges and agrees that the Company
may incorporate all or any part of the Tender into the Contract.<br/>
15.3 The Company may use its absolute discretion in prioritising the Tender responses and in
selecting the successful Tenderer. The Company will not necessarily accept the lowest
price Tender as the successful Tender.<br/>
16 ALTERNATE GOODS OR SERVICES OFFERED BY TENDERER<br/>
16.1 If the Tenderer submits a Tender that complies with all the requirements of the Tender
Documents then it may also submit a second Tender which:<br/>
(a) does not comply with the requirements of the Tender Documents;<br/>
(b) clearly identifies the items in the Tender that depart from the requirements of the
Tender Documents; and<br/>
(c) is clearly marked “NON-CONFORMING TENDER” on each page.<br/>
16.2 Where the Tenderer has satisfied the requirements of clause 16.1 then the Company may
elect to consider a non-conforming Tender that has been submitted under that clause.
However the Company may in its absolute discretion elect not to consider or not to accept
any non-conforming Tender.<br/>
16.3 If the Tenderer is aware that any material specified in the Tender Documents is not
available then the Tenderer should include in its Tender:<br/>
(a) advice of that fact; and<br/>
(b) a proposed alternative material and price.<br/>
17 UNSUCCESSFUL TENDERERS<br/>
17.1 At the completion of the Tender process, the unsuccessful Tenderers will be advised in
writing that their Tender has been unsuccessful. The Company is not obliged to disclose
reasons for the acceptance or non-acceptance of any Tender and no further
correspondence in connection with the Tender Documents or the Tenders will be entered
into.<br/>
18 LIMITATION OF LIABILITY<br/>
18.1 The Company makes no representation or warranty whatsoever (whether express or
implied, written or oral) to the Tenderer and makes no undertakings to the Tenderer, other
than to invite the Tenderer to submit a Tender in the manner contemplated by the Invitation
to Tender.<br/>
18.2 The Tender Documents constitute an invitation to potential suppliers to make an offer to the
Company for the provision of goods and/or services to the Company. The Tender
Documents should not be construed or relied upon as an offer capable of acceptance.<br/>
18.3 The Tenderer participates in the Tender process contemplated by the Tender Documents at
its own risk and expense. The Tenderer is not entitled to be reimbursed or compensated<br/><br/>
8<br/>
TENDER TERMS AND CONDITIONS<br/>
for any expense or loss incurred in connection with preparing or submitting the Tender or
otherwise in connection with the Tender Documents.<br/>
18.4 To the maximum extent permitted by law, the Company, its affiliates, directors, employees,
officers and agents shall have no liability or responsibility whatsoever to the Tenderer
(whether based in contract, promissory estoppel, restitution, quantum meruit, quasi-
contract, tort, statute or otherwise) in connection with or in relation to the Tender
Documents, or the Tenderer’s participation in the Tender process. Without limiting the
foregoing, Company will not be liable or responsible to the Tenderer in circumstances
where:<br/>
(a) the Company elects not to acquire (in whole or in Part) the goods and/or services
that are the subject of the Tender Documents;<br/>
(b) the Company conducts negotiations with any third party in parallel with any
negotiations that it conducts with the Tenderer;<br/>
(c) the Company terminates the Tender process or any negotiations with the Tenderer;<br/>
(d) the Tenderer is not selected to supply the goods and/or services that are the
subject of the Tender Documents;<br/>
(e) the Company selects a non-conforming Tender as the successful Tender;<br/>
(f) the Company waives any non-compliance with the Tender Documents in respect of
any Tender submitted as part of the Tender process;<br/>
(g) any information or data forming part of the Tender is lost, corrupted or not received;
or<br/>
(h) the Company exercises any of its rights or discretions under or in connection with
the Tender Documents.<br/>
19 COMPANYS DISCRETION<br/>
19.1 The Company may in its absolute discretion (but shall be under no obligation to):
(a) cancel the Tender process at any time (either in whole or in part and whether
before or after the Tender Submission Date);<br/>
(b) provide to all Tenderers any further information or addenda that has been provided
to a particular Tenderer;<br/>
(c) change the Tender Submission Date;<br/>
(d) refuse to consider any Tender which:<br/>
(i) is lodged by any means other than in accordance with the Tender
Documents;<br/>
(ii) is lodged after the Tender Submission Date; or<br/>
(iii) has been lodged by a Tenderer who has not complied with the requirements
of the Tender Documents;<br/>
(e) in its evaluation and assessment of Tenders:<br/>
(i) apply such criteria as the Company sees fit and give such weighting to that
selection criteria as may be determined by the Company (in its absolute
discretion);<br/>
(ii) if the Company considers any Tender to be ambiguous, erroneous or
incomplete, then to:<br/>
(A) refuse to consider the relevant Tender;<br/>
(B) request further information from the relevant Tenderer; or<br/>
(C) request the relevant tenderer to amend its Tender,<br/><br/>
9<br/>
TENDER TERMS AND CONDITIONS<br/>
as the Company sees fit;
(f) decide to:<br/>
(i) accept a Tenderer’s Tender for;<br/>
(ii) not proceed with;<br/>
(iii) carry out itself; or<br/>
(iii) have any other person or persons (whether or not a Tenderer who has
submitted a Tender) carry out,
all or any part of the Contract Obligations;<br/>
(g) negotiate with one or more Tenderers in relation to the terms of their Tenders;<br/>
(h) appoint a preferred Tenderer, but continue discussions with other Tenderers and
suppliers;<br/>
(i) select a non-conforming Tender as the successful Tender;<br/>
(j) at any time:<br/>
(i) retender the Contract Obligations after the Tender Submission Date with all<br/>
or any of the Tenderers who have submitted a Tender, or any other person
(whether or not they initially submitted Tenders); or<br/>
(ii) invite any other person to participate as a Tenderer in the Tender process;<br/>
(k) at any time pre-qualify, shortlist or enter into direct negotiations with any one or
more persons (whether or not any such person submitted a Tender);<br/>
(l) divide the Tendered goods and/or services into two or more bundles and award
contracts for those bundles to different tenderers; or<br/>
(m) require changes to the Contract Obligations, any technical specifications or
otherwise engage any Tenderer in connection with the Contract Obligations.<br/>

    </p>
    <div id="buttons" class="buttons">
        <button class = 'btn1' mat-button (click)="approve()">Approve</button>
        <button class = 'btn2' mat-button (click)="deny()">Deny</button>
    </div>
</div>