.container {
    margin-top: 20px;
    background-color: white;
    padding: 1rem;
}
.clickable:hover {
    font-weight: bold;
    cursor: pointer;
}
.mat-form-button {
    margin: 10px 20px 10px 10px;
    color: violet;
    background-color: #edece5;
    float: center;
}
.mat-form-field {
    width: 100%;
    margin: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button {
  margin-bottom: 0.5rem;
}
