<div class="login-form">
  <div class="text">Login</div>
  <div class="content" [formGroup]="loginForm">
    <div class="input-field">
      <input
        id="username"
        formControlName="username"
        type="text"
        placeholder="Username"
      />
    </div>
    <div class="input-field">
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Password"
      />
    </div>
  </div>

  <div class="action">
    <button id="loginBtn" (click)="login()" class="login" mat-raised-button>Login</button>
    <button class="register" routerLink="/register" mat-raised-button>Register</button>
  </div>
</div>
