.login-form {
  background: var(--text-b);
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 25px;
  padding: 25px;
}
p {
  font-size: 125%;
}

.login-form .content {
  padding: 0px 35px 0px 35px;
  text-align: center;
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form .input-field input {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px 0px 10px 10px;
  border: 2px solid var(--text-important);
  outline: none;
}

.login-form .input-field input:hover {
  box-shadow: 0px 0px 15px var(--text-important);
}

.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.login-form .action a {
  width: 100%;
}

.text {
  color: var(--text);
  font-size: 20px;
}
.register {
  background-color: lightblue;
}

button {
  margin: 0px 10px;
}
