/* https://stackoverflow.com/questions/46933953/angular-material-stepper-disable-header-navigation */
/* disables header navigation in stepper */
::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

::ng-deep .mat-horizontal-stepper-wrapper {
    background-color: var(--text-b);
}

.backg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    gap: 10px;
    background-color: aqua;
    width: 80%;
}
