/*ul {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgreen;
  top: 0;
  z-index: 1;
  border: 2px solid lightcyan;
}

li {
  display: inline-block;
  float: none;
}

li a {
  display: block;
  color: #0c141f;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

li a:hover {
  background-color: green;
  text-shadow: 0px 0px 3012px lightgreen;
  box-shadow: 0px 0px 30px lightgreen;
}*/

.navbar-container {
  background-color: var(--text-important);
  height: 60px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-item {
  color: var(--text-b);
  text-decoration: none;
  font-size: 1.5em;

}

.app-content {
  display: none;
  position: absolute;
  background-color: var(--text);
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  border: 2px solid var(--text-b);
}

/* Show the dropdown menu on hover */
.app-dropdown:hover .app-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
}

.navbar-item:hover {
  font-weight: bolder;
  text-decoration: underline;
  cursor: pointer;
}

#right {
  position: absolute;
  right: 15px;
}