ul {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightseagreen;
  top: 0;
  z-index: 1;
  border: 2px solid lightcyan;
}

li {
  display: inline-block;
  float: none;
}

li a {
  display: block;
  color: #0c141f;
  text-align: center;
  padding: 1em 1em;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(8, 95, 91);
  text-shadow: 0px 0px 3012px lightseagreen;
  box-shadow: 0px 0px 30px lightseagreen;
}
