.grid {
  width: 80%;
  margin: auto;
}

.logo {
  padding: 10px;
  border-radius: 125px;
  height: 70%;
  width: 35%;
}

.tableInfo {
  width: 80%;
  height: 80%;
}

.tableText {
  font-size: large;
}

.rowInfo {
  width: 60%;
}

.header {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}

.fields {
  font-weight: bold;
}

.importantText {
  font-size: x-large;
  font-weight: bold;
  padding: 1%;
}

mat-grid-tile {
  background-color: rgb(33, 38, 40);
}

/* jOVAN DODAO*/
.conteudo {
  position: absolute;
  cursor: pointer;
  margin: auto 45%;
  margin-bottom: 30px;
  height: fit-content;
  width: fit-content;
  box-shadow: 0px 0px 30px white;
}

.carousel {
  top: 50px;
  position: relative;
  margin-bottom: 30px;
  height: fit-content;
  width: fit-content;
  box-shadow: 0px 0px 30px white;
}

.carousel:hover .newsCard {
  animation-play-state: paused;
}

@keyframes animationCarousel {
  from {
    -webkit-transform: rotateY(-360deg) translateZ(400px) rotateY(360deg);
    z-index: 1000;
    opacity: 1;
  }

  50% {
    z-index: -1000;
    opacity: 0.0005;
  }

  to {
    -webkit-transform: rotateY(0deg) translateZ(400px) rotateY(0deg);
    z-index: 1000;
    opacity: 1;
  }
}

.newsCard {
  width: 150px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 30px;
  border: 1px double white;
  -webkit-animation-name: animationCarousel;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.newsCard:hover {
  box-shadow: 0px 0px 10px white;
  border: 2px solid white;
  -webkit-animation-name: animationCarousel;
}
