<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Address</th>
      <th>Blood type</th>
      <th>Doctor</th>
    </tr>
    <tr>
      <td>{{ patientRegistrationInfo.name }}</td>
      <td>{{ patientRegistrationInfo.surname }}</td>
      <td>{{ patientRegistrationInfo.email }}</td>
      <td>{{ patientRegistrationInfo.address }}</td>
      <td>{{ patientRegistrationInfo.bloodType }}</td>
      <td>{{ patientRegistrationInfo.doctor }}</td>
    </tr>
  </table>
</div>
