.logo {
  background-color: lightcyan;
  padding: 10px;
  border-radius: 125px;
  height: 400px;
  width: 400px;
}
.logo:hover {
  box-shadow: 0px 0px 30px lightcyan;
}
.landingPage {
  animation: fadein 5s;
}
p,
h1,
h2 {
  color: lightcyan;
}
h1 {
  font-size: 250%;
}
.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.description p {
  font-size: 125%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logoAndLogin {
  width: 100%;
}
