<div class="landingPage">
  <h1>Welcome to ZdravoCorp!</h1>
  <table class="logoAndLoginRegister">
    <tr>
      <td><img class="logo" src="assets/logo.png" alt="LOGO" /></td>
      <td>
        <div class="loginRegister">
          <a href="/patientHome"><button class="register">Register</button></a>
          <a href="/loginPage"><button class="login">Login</button></a>
        </div>
      </td>
    </tr>
  </table>
  <div class="description">
    <p>
      Our goal is ensure you live the happiest and healthiest life. We offer the
      best medical treatments in our facilities. Our team is consistent of world
      class professionals that will always welcome you with a smile.
    </p>
  </div>
  <h2>Patient feedback</h2>
  <app-feedback-table></app-feedback-table>
</div>
