button {
  width: fit-content;
}

button:hover {
  background-color: black;
}
p,
label {
  color: lightcyan;
}
input[type="checkbox"]:checked {
  accent-color: yellowgreen;
}

textarea {
  resize: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  outline: none;
}
