<div>
  <p></p>
  <p>Enter your feedback</p>
  <textarea
    id="feedbackText"
    cols="100"
    rows="10"
    [(ngModel)]="feedbackRequestDto.text"
  ></textarea>
  <p></p>
  <div>
    <input
      type="checkbox"
      id="anonymous"
      [(ngModel)]="feedbackRequestDto.isAnonimous"
    />
    <label for="anonymous">Anonymous</label>
    <p></p>
    <input
      type="checkbox"
      id="public"
      [(ngModel)]="feedbackRequestDto.isDesiredPublic"
    />
    <label for="public">Public</label>
  </div>

  <p></p>
  <button id="sendFeedback" (click)="sendFeedback()">Send feedback</button>
  <p></p>
  <p id="errorMessage">{{ EnterAllFieldsCorrectlyMessage }}</p>
</div>
