.conteudo {
  position: absolute;
  cursor: pointer;
  margin: 0 45%;
  font-weight: bold;
}

.carousel {
  position: relative;
  top: 25px;
  height: 125px;
  color: darkslategrey;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.carousel:hover .newsCard {
  animation-play-state: paused;
}
.carousel:hover > :not(:hover) {
  font-size: small;
  box-shadow: 0px 0px 25px darkslategrey;
  border: 2px solid darkslategrey;
  filter: brightness(85%);
  transition: 1s;
}

.newsCard:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 25px white;
  border: 3px solid white;
  font-size: 3em;
  width: 200px;
  color: darkcyan;
  background: linear-gradient(
    -45deg,
    rgb(96, 231, 255) 50%,
    rgb(255, 255, 255) 100%
  ) !important;
}

@keyframes animationCarousel {
  from {
    -webkit-transform: rotateY(-360deg) translateZ(400px) rotateY(360deg);
    z-index: 1000;
    opacity: 2;
  }

  50% {
    z-index: -1000;
    opacity: 0.015;
  }

  to {
    -webkit-transform: rotateY(0deg) translateZ(400px) rotateY(0deg);
    z-index: 1000;
    opacity: 2;
  }
}

.newsCard {
  width: 150px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-align: center;
  border: 2px double white;
  transition: 1s;
  -webkit-animation-name: animationCarousel;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
