:root {
  --text: #89dee2;
  --text-important: #16c2d5;
  --back: #2e4450;
  --backs: #527c88;
  --mat: rgb(227, 226, 212);
  --text-b: #192830;
}

body {
  background: var(--back);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

button {
  width: 100%;
  border: none;
  padding: 18px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  outline: 0;
  background-color: var(--text-important) !important;
  color: var(--text-b) !important;
}

button:hover {
  background-color: var(--mat) !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-horizontal-content-container{
  height: 100%;
}
.mat-horizontal-stepper-content{
  height: 100%;
}

.mat-input-element[type=date], .mat-input-element[type=datetime], .mat-input-element[type=datetime-local], .mat-input-element[type=month], .mat-input-element[type=week], .mat-input-element[type=time] {
  color: var(--text);
}

* {
  transition: 0.3s;
}