<!-- <table class="btnTable">
  <tr>
    <td>
      <button
        mat-button
        color="primary"
        class="appBtn"
        (click)="changeAppType('get-all-future')"
      >
        View Future
      </button>
    </td>
    <td>
      <button
        mat-button
        color="primary"
        class="appBtn"
        (click)="changeAppType('get-all-done')"
      >
        View Done
      </button>
    </td>
    <td>
      <button
        mat-button
        color="primary"
        class="appBtn"
        (click)="changeAppType('get-all-canceled')"
      >
        View Canceled
      </button>
    </td>
  </tr>
</table>

<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  id="appointment-table"
>
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Time</th>
    <td mat-cell *matCellDef="let appointment">
      {{ appointment.startTime | date : "d/M/yyyy HH:mm" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="doctor">
    <th mat-header-cell *matHeaderCellDef>Doctor</th>
    <td mat-cell *matCellDef="let appointment">
      {{ appointment.doctorName }} {{ appointment.doctorSurname }}
    </td>
  </ng-container>

  <ng-container matColumnDef="room">
    <th mat-header-cell *matHeaderCellDef>Room number</th>
    <td mat-cell *matCellDef="let appointment">{{ appointment.roomNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef [hidden]="!isFuture"></th>
    <td mat-cell *matCellDef="let appointment" [hidden]="!isFuture">
      <button
        mat-button
        color="primary"
        id="cacnelBtn"
        (click)="btnClick(appointment.id)"
      >
        Cancel
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="generatePdf">
    <th mat-header-cell *matHeaderCellDef [hidden]="isFuture">View details</th>
    <td mat-cell *matCellDef="let appointment" [hidden]="isFuture">
      <button
        mat-button
        color="primary"
        id="generatePdfBtn"
        (click)="generatePdf(appointment.id)"
      >
        Generate pdf
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> -->

<div class="container">
  <div class="tabs">
    <button class="tab-btn" [class.tab-btn-active]="isFuture == true" (click)="changeAppType('get-all-future')">Future</button>
    <button class="tab-btn" [class.tab-btn-active]="isDone == true" (click)="changeAppType('get-all-done')">Done</button>
    <button class="tab-btn" [class.tab-btn-active]="isCanc == true" (click)="changeAppType('get-all-canceled')">Canceled</button>
  </div>
  <div class="content">
    <div class="text" *ngIf="dataSource.length <= 0">Nothing to show</div>
    <table
    *ngIf="dataSource.length > 0"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  id="appointment-table"
>
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>Time</th>
    <td mat-cell *matCellDef="let appointment">
      {{ appointment.startTime | date : "d/M/yyyy HH:mm" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="doctor">
    <th mat-header-cell *matHeaderCellDef>Doctor</th>
    <td mat-cell *matCellDef="let appointment">
      {{ appointment.doctorName }} {{ appointment.doctorSurname }}
    </td>
  </ng-container>

  <ng-container matColumnDef="room">
    <th mat-header-cell *matHeaderCellDef>Room number</th>
    <td mat-cell *matCellDef="let appointment">{{ appointment.roomNumber }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef [hidden]="!isFuture"></th>
    <td mat-cell *matCellDef="let appointment" [hidden]="!isFuture">
      <button
        mat-button
        color="primary"
        id="cacnelBtn"
        (click)="btnClick(appointment.id)"
      >
        Cancel
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="generatePdf">
    <th mat-header-cell *matHeaderCellDef [hidden]="isFuture">View details</th>
    <td mat-cell *matCellDef="let appointment" [hidden]="isFuture">
      <button
        mat-button
        color="primary"
        id="generatePdfBtn"
        (click)="generatePdf(appointment.id)"
      >
        Generate pdf
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

  </div>
</div>
