table {
    width: 100%;
    table-layout: fixed;
  }
th {
    align-content: center;
}

.appBtn {
  width: 70%;
  background-color: white;
  color: black;
}

.btnTable {
  background-color: lightgreen;
  table-layout: fixed;
}

#cacnelBtn {
  color: black;
}

::ng-deep .mat-header-cell {
  justify-content:center;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.tableName {
  background-color: lightgreen;
  color: white;
}