/* table {
    width: 100%;
    table-layout: fixed;
  }
th {
    align-content: center;
}

.appBtn {
  width: 70%;
  background-color: white;
  color: black;
}

.btnTable {
  background-color: lightgreen;
  table-layout: fixed;
}

#cacnelBtn {
  color: black;
}

::ng-deep .mat-header-cell {
  justify-content:center;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.tableName {
  background-color: lightgreen;
  color: white;
} */

.container {
  width: 75%;
  height: 80%;
  

  display: grid;
  margin: 2% auto;
  justify-content: stretch;
  align-items: center;
  grid-template-rows: 0.6fr 4fr;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.tab-btn {
  width: 13%;
  background-color: var(--text-b) !important;
  color: var(--mat) !important;
  border-right: 2px solid var(--text);
  border-top-left-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: 600;
  font-size: 16px;
}

.tab-btn:hover {
  /* background-color: var(--text-important) !important; */
  border-top: 5px solid var(--text);
}

.tab-btn-active {
  /* background-color: var(--text-important) !important; */
  border-top: 5px solid var(--text);
  translate: 0 11%;
}

.content {
  background-color: var(--text-b);
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

table {
  width: 100%;
  table-layout: fixed;
}

::ng-deep .mat-header-cell {
  justify-content:center;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

::ng-deep tr.mat-header-row {
  background-color: var(--text);
}

::ng-deep tr.mat-row, tr.mat-footer-row {
  background-color: var(--mat);
}

::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  font-size: 14px;
  color: var(--text-b);
}

.text {
  font-size: 28px;
  color: var(--text);
  align-self: flex-start;
  margin-left: 2%;
}